*/[Ll]ibrary/
*/[Tt]emp/
*/[Oo]bj/
*/.vs/

# Ignore the following file extensions
*/*.DS_Store
*/*.vcproject
# *.sln
# *.csproj
*/*.unityproj
*/*.pidb
*/*.userprefs
=======
*/*.vcproject
*/*.sln
=======
*/Temp
*/Library
*/[Bb]uild